<panel title="container info" class="container-details" ng-show="containerDetails">
    <table class = "panel">
        <tr><td>Id:</td><td>{{containerDetails.ID}}</td></tr>
        <tr><td>Hostname:</td><td>{{containerDetails.Config.Hostname}}</td></tr>
        <tr><td>Start args:</td><td>{{containerDetails.Args}}</td></tr>
        <tr><td>Created:</td><td>{{containerDetails.Created}}</td></tr>
        <tr><td>Exposed ports:</td><td>{{containerDetails.Config.ExposedPorts}}</td></tr>
        <tr><td>Environment:</td><td>{{containerDetails.Config.Env}}</td></tr>
        <tr><td>PID:</td><td>{{containerDetails.State.Pid}}</td></tr>
        <tr><td>IP:</td><td>{{containerDetails.NetworkSettings.IPAddress}}</td></tr>
        <tr><td>Gateway:</td><td>{{containerDetails.NetworkSettings.Gateway}}</td></tr>
        <tr><td>Bridge:</td><td>{{containerDetails.NetworkSettings.Bridge}}</td></tr>
        <tr><td>Ports:</td><td>{{containerDetails.NetworkSettings.Ports}}</td></tr>
        <tr><td>Path</td><td>{{containerDetails.Path}}</td></tr>
    </table>
</panel>
<panel title="process info" class="container-details" ng-show="runtimeInfo">
    <table>
        <tr>
            <th ng-repeat="title in runtimeInfo.Titles">{{title}}</th>
        </tr>
        <tr ng-repeat="process in runtimeInfo.Processes">
            <td ng-repeat="info in process track by $index">{{info}}</td>
        </tr>
    </table>
</panel>
<panel title="file changes" class="container-details" ng-show="changes">
    <h3>Path</h3>
    <input type="text" placeholder="search changes" ng-model="changesSearch"/>
    <ul ng-repeat="change in changes| filter:changesSearch | orderBy:predicate = 'Kind'">
        <li class="{{classForKind(change.Kind)}}">{{change.Path}}</li>
    </ul>
</panel>
<panel title="logs" class="container-details" ng-show="logs">
    <input type="text" placeholder="search logs" ng-model="logSearch"/>
    <ul class="log" ng-repeat="line in logs| filter:logSearch track by $index">
        <li class="log-line">{{line}}</li>
    </ul>
</panel>
