<!DOCTYPE html>
<html>
    <head>
        <title>Docker UI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular.js"></script>
        <script src="lib/app.js"></script>
        <script src="lib/services.js"></script>
        <script src="lib/controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css" />
    </head>
    <body ng-app="docker">
        <section>
            <h1>{:watchdock}</h1>
        </section>
        <section ng-controller="containerController">
            <input type="text" ng-model="host.uri" size="80" ng-blur="fetchContainers()" ng-init="fetchContainers()"/>
            <section>
                <h2>images</h2>
                <table class="containers">
                    <tr>
                        <th>Name</th><th>Image</th><th>Status</th>
                    </tr>
                    <tr ng-repeat="container in containers" ng-click="containerSelected(container.Names[0], container.Id)">
                        <td>{{container.Names[0]}}</td><td>{{container.Image}}</td><td>{{container.Status}}</td>
                    </tr>
                </table>
            </section>
            <section class="container-details" ng-show="containerDetails">
                <h2>container info</h2>
                <table class = "panel">
                    <tr><td>Id:</td><td>{{containerDetails.ID}}</td></tr>
                    <tr><td>Hostname:</td><td>{{containerDetails.Config.Hostname}}</td></tr>
                    <tr><td>Start args:</td><td>{{containerDetails.Args}}</td></tr>
                    <tr><td>Created:</td><td>{{containerDetails.Created}}</td></tr>
                    <tr><td>Exposed ports:</td><td>{{containerDetails.Config.ExposedPorts}}</td></tr>
                    <tr><td>Environment:</td><td>{{containerDetails.Config.Env}}</td></tr>
                    <tr><td>PID:</td><td>{{containerDetails.State.Pid}}</td></tr>
                    <tr><td>IP:</td><td>{{containerDetails.NetworkSettings.IPAddress}}</td></tr>
                    <tr><td>Bridge:</td><td>{{containerDetails.NetworkSettings.Bridge}}</td></tr>
                    <tr><td>Ports:</td><td>{{containerDetails.NetworkSettings.Ports}}</td></tr>
                </table>
            </section>
            <section class="container-details" ng-show="process">
                <h2>process info</h2>
                <table>
                    <tr>
                        <th>UID</th><th>PID</th><th>PPID</th><th>C</th><th>STIME</th><th>TTY</th><th>TIME</th><th>CMD</th>
                    </tr>
                    <tr ng-repeat="process in runtimeInfo.Processes">
                        <td ng-repeat="info in process">{{info}}</td>
                    </tr>
                </table>
            </section>
            <section class="container-details" ng-show="changes">
                <h2>file changes</h2>
                <h3>Path</h3>
                <ul ng-repeat="change in changes| orderBy:predicate = 'Kind'">
                    <li class="{{classForKind(change.Kind)}}">{{change.Path}}</li>
                </ul>
            </section>

            <section class="container-details" ng-show="logs">
                <h2>logs</h2>
                <textarea>
                {{logs}}
                </textarea>
            </section>
        </section>
    </body>
</html>
