<!DOCTYPE html>
<html>
    <head>
        <title>Docker UI</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="lib/angular.js"></script>
        <script src="lib/app.js"></script>
        <script src="lib/services.js"></script>
        <script src="lib/controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="layout.css" />
    </head>
    <body ng-app="docker">
        <section>
            <h1>{:watchdock}</h1>
        </section>
        <section ng-controller="containerController">


            <input type="text" ng-model="host.uri" size="80" ng-blur="fetchContainers()" ng-init="fetchContainers()"/>
            <section>
                <table class="containers">
                    <thead>
                    <th>Name</th><th>Image</th><th>Status</th>
                    </thead>
                    <tr ng-repeat="container in containers" ng-click="containerSelected(container.Names[0])">
                        <td>{{container.Names[0]}}</td><td>{{container.Image}}</td><td>{{container.Status}}</td>
                    </tr>
                </table>
            </section>
            <section class="container-details">
                <table class = "panel">
                    <tr><td>Id:</td><td>{{containerDetails.ID}}</td></tr>
                    <tr><td>Hostname:</td><td>{{containerDetails.Config.Hostname}}</td></tr>
                    <tr><td>Created:</td><td>{{containerDetails.Created}}</td></tr>
                </table>
            </section>
        </section>
    </body>
</html>
