body{
    font-family: Helvetica,Verdana,Arial;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color:#666666;

}
ul {
    list-style-type: none;
}

input[type="text"] {
    width: 60%;
    height: 2em;
    font-size: 1.5em;
    color:#b2b2b2;
}

table{
    width: 100%;
    margin:0px;

}

.containers{
    margin-top: 3em;
}

.container-details{
    margin-top: 3em;
}

tr:nth-child(odd){
    background-color:#e8e8e8;
}
tr:nth-child(even){
    background-color:#fff;
}